<div id="pricing" class="pricingsection" x-in-viewport="popupVisible = true">

    <div class="content medium">
        <div class="gapxl"></div>
        <div class="ctawrap">
            <div class="availability">
                <div>{{ configuration:subheading }}</div>
            </div>
            <div class="gaps"></div>

            <h2 class="h2">{{ configuration:heading }}</h2>
            <div class="gapxs"></div>
            <div class="t-light">{{ configuration:description }}</div>
            <div class="gapl"></div>
        </div>

    </div>
    <div class="content large">
   
            <script async src="https://js.stripe.com/v3/pricing-table.js"></script>
            <stripe-pricing-table pricing-table-id="prctbl_1ORkcDLf7D8beyVqe5J5AzGV"
                publishable-key="pk_live_51LFhQMLf7D8beyVqaTfjrCoJq3EehvaQeIuj5JvbFeTFPIMJylsIBuBblJum9Ot7wUjTqcV2wqNtObDwntQ0iB0z00xzRUcpSq">
            </stripe-pricing-table>
     
    </div>
    <div class="gapxl"></div>
</div>