{{ partial:home/hero }}
{{ partial:home/brands }}

{{ partial:home/featured_work }}
{{ partial:home/projects }}

{{ partial:layout/pricing }}
<div>
    <div class="content">
        <div class="card jumboshadow jumboshadowwithborder">
            <div class="paddm">
                <div class="gapm"></div>
                <div class="ctawrap">
                    <div class="availability"> {{ svg src='availability'}}
                        <div>Nous sommes disponibles</div>
                    </div>
                    <div class="gaps"></div>
                    <h2 class="h2">Vous avez une question?</h2>
                    <div class="gapxs"></div>
                    <div class="gaps"></div>
                    <div class="btngrp centeronmob"><a href="/contact?message=true" class="btn big dark ">Envoyer nous
                            un message</a>
                            <a href="/contact" class="btn big ">Planifier une rencontre</a></div>
                </div>
                <div class="gapm"></div>
            </div>

        </div>
    </div>
</div>