{{ partial:home/hero }}
{{ partial:home/brands }}

{{ partial:home/featured_work }}
{{ partial:home/projects }}

{{ partial:layout/pricing }}
<div>
    <div class="content">
        <div class="card jumboshadow jumboshadowwithborder">
            <div class="paddm">
                <div class="gapm"></div>
                <div class="ctawrap">
                    <div class="availability"> {{ svg src='availability'}}
                        <div>{{ availability }}</div>
                    </div>
                    <div class="gaps"></div>
                    <h2 class="h2">{{ contact_heading }}</h2>
                    <div class="gapxs"></div>
                    <div class="gaps"></div>
                    <div class="btngrp centeronmob">
                        <a href="{{ contact_cta_link_1 }}" class="btn big dark ">{{ contact_cta_text_1 }}</a>
                            <a href="{{ contact_cta_link_2 }}" class="btn big ">{{ contact_cta_text_2 }}</a></div>
                </div>
                <div class="gapm"></div>
            </div>

        </div>
    </div>
</div>