{{#
@name Layout
@desc The default layout file.
#}}

<!-- /layout.antlers.html -->
<!doctype html>
<html lang="{{ site:short_locale }}" class="antialiased">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap');
    </style>
    {{ vite src="resources/css/site.css|resources/js/site.js" }}
    {{ partial:statamic-peak-seo::snippets/seo }}
    {{ partial:statamic-peak-browser-appearance::snippets/browser_appearance }}
    {{ partial:statamic-peak-tools::snippets/live_preview }}
</head>

<body x-data="{ modalRefer: false, popupVisible: false }">
 
    {{ stack:seo_body }}
    {{ partial:statamic-peak-tools::snippets/noscript }}
    {{ partial:layout/modal }}
    {{ partial:layout/header }}
    {{ template_content }}
    {{ partial:layout/footer }}
    {{ partial:layout/cta }}


</body>

</html>
<!-- End: /layout.antlers.html -->