<div class="content">
    <div class="gapl"></div>
    <div class="card jumboshadow jumboshadowwithborder">
      <div class="paddm">
        <div class="gapm"></div>
        <div class="ctawrap">
  
          {{ if turnaround }}
          <div class="availability">{{ svg src='availability' }}
            <div>{{ turnaround }}</div>
          </div>
          {{ /endif }}
          <div class="gaps"></div>
          <h2 class="h2">{{ title }}</h2>
          <div class="gapxs"></div>
          <p class="services-description t-light">{{ menu_description }}</p>
          <div class="gaps"></div>
          <div class="btngrp centeronmob">
            <span class="btn big dark" @click="contactModal = true" >{{ configuration:commencons }}</span>
           
            <span class="btn big" @click="interestModal = true" >
              {{ configuration:request_price }}
              </span>
            
  
          </div>
        </div>
        <div class="gapm"></div>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div class="gapxl"></div>
    {{ collection:services  }}
   
    <div class="left-right {{ switch between=' right|left'}}">
     <span style="background-image: linear-gradient(141deg,{{ color1 }}, {{ color2}} 50%, {{color3}}); width: 100%; min-height: 100%; border-radius: 8px"></span>
      <div class="content-text">
        <div class="methodtitlewrap alt">
          <h2 class="h2 methodsectionheading small">{{ title }}</h2>
          <div class="methodsectiondesc">
            <div class="t-light">{{ menu_description }}</div>
          </div>
         
  
          <a href="{{ url }}"
            class="btn magnetic dark  w-button">{{ title }}</a>
  
        </div>
      </div>
      <div class="gapl"></div>
    </div>
    
    <div class="gapl"></div>
    {{ /collection:services }}
  </div>
  

  <div class="content">
    {{ partial:layout/other_services }}
  </div>
  {{ partial:home/projects }}
  
  
  