<section class="section section-hero animate" data-component-list="Hero" data-analytics-section-engagement="name:hero">
    <div class="section-content">
        <div class="hero-content-container">
            <h1>
                <img src="http://milistack.test/img/containers/images/theme/shopifypartnerwhite.png/682994483da6951eafe0b7c87bf7265d.png" alt="" class="hero-logo">
                
                
            </h1>
            <div class="hero-content">
                <h2 class="typography-hero-headline">The simplicity of&nbsp;Apple.<br>In a credit card.</h2>
                <a href="https://card.apple.com/apply/application?referrer=cid%3Dapy-200-10000036&amp;start=false" aria-label="Apply now, Apple Card" class="button button-elevated button-neutral button-just-right apply-now-cta" data-analytics-title="apply now" data-rid-relay="{&quot;287&quot;:&quot;referrer&quot;}" data-analytics-exit-link="">Apply now</a>
                <a href="https://wallet.apple.com/apple-card/setup/feature/ccs?referrer=cid%3Dapy-200-10000036" aria-label="Apply now, Apple Card" class="button button-neutral button-just-right apply-now-cta mobile-wallet" data-analytics-title="apply now" data-rid-relay="{&quot;287&quot;:&quot;referrer&quot;}" data-analytics-exit-link="">Apply now</a>
            </div>
        </div>
        <figure class="hero-hw"></figure>
    </div>
</section>