<div id="intro" class="content services-bg">
    <div class="gapl"></div>
    <div class="services-hero">
        <h1 style="
        font-size: 5rem; 
        line-height: 1.2;
        background: linear-gradient(90deg, {{color1}} 0%, {{ color2}} 50%, {{ color3 }} 100%);
        background-size: 300% 100%;
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent; /* Fallback for non-webkit browsers */
      ">{{ title }}</h1>

        <p class="services-description t-light">{{ menu_description }}</p>

        <div class="similar-services">
            {{ services_type }}
            {{ collection:services limit="4" url:not="{ url }" services_type="{services_type}" sort='random' }}
            <a href="{{ url }}" class="btn magnetic">{{ title }}</a>
            {{ /collection:services }}
        </div>
    </div>
    <div class="gapxl"></div>
</div>