<div>
    <div class="content">
        <div class="card jumboshadow jumboshadowwithborder">
            <div class="paddm">
                <div class="gapm"></div>
                <div class="ctawrap">
                    <div class="availability"> {{ svg src='availability'}}
                        <div>{{ availability }}</div>
                    </div>
                    <div class="gaps"></div>
                    <h2 class="h2">{{ contact_heading }}</h2>
                    <div class="gapxs"></div>
                    <div class="gaps"></div>
                    <div class="btngrp centeronmob">
                        <span @click="interestModal = true" class="btn big dark ">{{ contact_cta_text_1 }}</span>
                            <span @click="contactModal = true" class="btn big ">{{ contact_cta_text_2 }}</span></div>
                </div>
                <div class="gapm"></div>
            </div>

        </div>
    </div>
</div>
<div class="gapm"></div>

 