<div x-data="{ showContent1: false, showContent2: false }"
    x-init="setTimeout(() => { 
        if (!showContent2 && window.innerWidth > 768) { 
            showContent1 = true; 
        } 
    }, 15000)">
    <div class="ctapopup" style="display: block;">
        <div class="ctapopupwrap">
            <div id="cta-content-2" class="ctapopupcontent" x-show="showContent2">
                <div class="ctapopupcontentrow">
                    <div class="ctapopupintrotext">
                        <div class="smalltext-2 bold">{{ chat:discutons }}</div>
                        <!-- TODO: add a link to the chat -->
                        <div class="ultrasmalltext-2 lighttext">{{ chat:message_book }}</div>
                    </div>
                </div>
                {{ chat:ctas }}
                <div class="ctapopupdivider"></div>
                {{ if modal }}
                <div @click="{{ alpine_modal_name }} = true" class="ctapopupcontentrow ">
                    {{ svg src="{icon}" class="ctapopupicon" }}
                    <div class="smalltext-2">{{ cta_text }}</div>
                    {{ svg src="cta-arrow" class="ctapopuparrow"}}
                </div>
                {{ else }}
                <a href="{{ cta_link }}" class="ctapopupcontentrow ">
                    {{ svg src="{icon}" class="ctapopupicon" }}
                    <div class="smalltext-2">{{ cta_text }}</div>
                    {{ svg src="cta-arrow" class="ctapopuparrow"}}
                </a>
                {{ endif }}
                {{ /chat:ctas }}

            </div>
            <div id="cta-content-1" class="ctapopupcontent" x-show="showContent1"  class="hide-on-mobile">
                <div class="ctapopupcontentrow vid">
                    <div class="w-embed w-iframe">
                        <div style="position: relative; padding-bottom: 100%; height: 0;"><iframe
                                src="{{ chat:video_link }}" frameborder="0" webkitallowfullscreen=""
                                mozallowfullscreen="" allowfullscreen=""
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px;"></iframe>

                        </div>
                    </div>
                </div>
                <div class="ctapopupcontentrow">
                    {{ collection:staff limit="1" sort="random" }}
                    {{ avatar_picture}}
                    <div class="ctapopupavatar" style="background-image: url('{{ glide:url }}')"></div>
                    {{ /avatar_picture }}
                    {{ /collection:staff }}
                    <div class="ctapopupintrotext">
                        <div class="smalltext-2 bold">{{ chat:video_salutation }}</div>
                        <div class="ultrasmalltext-2 lighttext">{{ chat:video_description }}</div>
                    </div>
                    <div class="ctapopupbtns">
                        <span id="cta-no" @click="showContent2 = false; showContent1 = false; $event.preventDefault();"  class="ctapopupbtnbtn white w-button">Non
                            merci</span>
                            
                            <span @click="showContent2 = true; showContent1 = false; $event.preventDefault();" class="ctapopupbtnbtn w-button">Oui svp!</span>
                        </div>
                </div>
            </div>
            <div class="w-embed w-script">
                <style type="text/css">

                </style>

            </div>
            <div class="ctapopupbtn"
                @click="if (showContent2) { showContent1 = false; showContent2 = false; } else { showContent1 = false; showContent2 = true; }">
                {{ svg src="cta_open" x-show='!showContent2' class="ctapopupbtnicon default"}}
                {{ svg src="cta_close" x-show="showContent2" class="ctapopupbtnicon close"}}

            </div>
        </div>
    </div>
</div>