<div class="footer t-light t-xsmall">
    <div class="gapl"></div>
    <div class="content">
        <div class="footermain">
            <div class="footerleft">
                {{ footer:logo }}
                <img src="{{ glide:url }}" loading="lazy" width="150px" height="100px" srcset="{{ glide:url }}" alt=""
        class="" />
                {{ /footer:logo }}
                <div class="footergap"></div>
                <div>{{ footer:description }}
                </div>
            </div>
            <div class="footerright">
                <div class="footerrightinner">
                    <div class="footermenu">
                        <div class="footertitle">
                            <div>{{ configuration:copyright_name }}</div>
                        </div>
                        {{ nav:main }}
                        <a href="{{ url }}" class="footerlink">{{ title }}</a>
                        {{ /nav:main }}
                    </div>
                    <div class="footermenu">
                        <div class="footertitle">
                            <div>Services</div>
                        </div>
                        <div class="grid-2">
                        {{ collection:services }}
                        <a href="{{ url }}"
                            class="footerlink">{{ title }}</a>
                            {{ /collection:services }}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="gapm"></div>
        <div class="copyrightcontainer">
            <div class="t-xxsmall t-bold">© <span class="copyright">{{ configuration:copyright_since }}
                {{ unless (now | format('Y')) == configuration:copyright_since }}
                    - {{ now | format('Y') }}
                    {{ /unless }}
                </span> {{ configuration:copyright_name ?? config:app:name }}</div>
        </div>
    </div>
    <div class="gapl"></div>
</div>
