<div class="line gradient_two"></div>
<div class="stickyheaderwrap" x-data="{ scrolled: false }"
  x-init="window.addEventListener('scroll', () => { scrolled = window.scrollY > 0 })" :class="{ 'scroll': scrolled }">
  <div id="top" class="header">
    <div class="gapm"></div>
    <div class="content headercontent"><a href="/" aria-current="page" class="w-inline-block w--current">
        {{ header:logo }}
        <img src="{{ glide:url }}" loading="lazy" width="50px" height="50px" srcset="{{ glide:url }}" alt=""
        class="avatar" />
        {{ /header:logo }}
      </a>
      {{ if template != "default" }}
      <div class="breadcrumb"><a href="/" class="breadcrumblink headerhideonmob w-inline-block">
          <div class="t-small">Philippe Pasquin</div>
        </a>
        <div class="t-small t-light headerhideonmob">/</div>
        <div class="t-small t-bold">{{ title }}</div>
      </div>
      {{ else }}
      <div class="nav mainnav headerhideonmob">
        {{ nav:main }}
        <div class="navitem {{ unless entry_id=="d9ae2d4d-89cc-48a9-baf7-b73ce0ec5415" }} magnetic {{ /unless }}" {{ if
          children || entry_id=="d9ae2d4d-89cc-48a9-baf7-b73ce0ec5415" }} 
          x-data="{ open: false }" @mouseenter="open = true" @mouseleave="open = false" {{ endif }}>
          <a href="{{ url }}" {{ if
            children || entry_id=="d9ae2d4d-89cc-48a9-baf7-b73ce0ec5415" }}  @click.prevent="open = !open" {{ endif }} class="navlink {{ if is_current || is_parent }} w--current {{ endif}}">
            {{ title }}
            {{ if children || entry_id=="d9ae2d4d-89cc-48a9-baf7-b73ce0ec5415" }}
            <i x-show="!open" class="fa fa-caret-down"></i>
            <i x-show="open" class="fa fa-caret-up"></i>
            {{ /if }}
          </a>
          {{ if children || entry_id == "d9ae2d4d-89cc-48a9-baf7-b73ce0ec5415" }}
          <div class="main_dropdown" x-show="open">
            <div class="inner_dropdown">
              <div class="services-grid-3">
                {{ collection:services as="entries" sort="services_type:order" }}
                {{ entries group_by="services_type:title" }}
                {{ groups }}
                <div class="dropdown_column">
                  <h2 class="services_taxonomy">{{ group }}</h2>
                  <ul>
                    {{ items }}
                    <li class="dropdown_services">
                      <a href="{{ url }}">
                        <span class="services_icon"
                          style="background-image: linear-gradient(141deg,{{ color1 }}, {{ color2}} 50%, {{color3}})">
                        </span>
                        <div class="services_content">
                          <h2 class="services_title">{{ title }}</h2>
                          <p class="services_description">{{ menu_description }}</p>
                        </div>
                      </a>
                    </li>
                    {{ /items }}
                  </ul>
                </div>
                {{ /groups}}
                {{ /entries }}
                {{ /collection:services }}
              </div>
             
            </div>

          </div>
          {{ /if }}

        </div>
        {{ /nav:main }}

      </div>
      {{ endif }}
      <div class="nav headerrightnav">
        <div class="headerhideontablet">
          <div class="availability">
            {{ svg src='availability'}}
            <div>{{ header:availability }}</div>
          </div>
        </div>
        <div class="headeravailspacer magnetic"></div>
        <a href="{{ header:cta_link }}"
          class="btn magnetic dark headerhideonmob w-button">{{ header:cta_text}}</a>
          <span class="btn dark headershowbtnonmobile w-button">{{ header:mobile_button_text }}</span>
      </div>
    </div>
  </div>
</div>