<div class="gapm"></div>
<div class="w-layout-grid grid expertise-grid">
    {{ collection:services }}
    <a href="{{ url }}" class="magnetic no-decoration">
        <div class="card jumboshadow jumboshadowwithborder">
            <div class="padds">
                <div class="t-small t-bold">{{ title }}</div>
                <div class="gapxs"></div>
                <div class="t-light t-xsmall">{{ menu_description }}
                </div>
            </div>
        </div>
    </a>
    {{ /collection:services }}

</div>
<div class="gapxl"></div>
