<div id="pricing" class="pricingsection">

    <div class="content medium">
        <div class="gapxl"></div>
        <div class="ctawrap">
            <div class="availability">
                <div>Nos abonnements</div>
            </div>
            <div class="gaps"></div>

            <h2 class="h2">Déléguez vos tâches de développement Shopify.</h2>
            <div class="gapxs"></div>
            <div class="t-light">Choisissez un plan qui fonctionne pour vous</div>
            <div class="gapl"></div>
        </div>

    </div>
    <div class="content large">
        <div class="pricing-grid">
            {{ get_content from='e785a253-1496-4e04-84e8-5162700ba43b'}}
            {{ pricing }}
            <div class="desktoppricing">
                <div class="card jumboshadow jumboshadowwithborder" style="height:100%">
                    <div class="paddm">
                        <div class="flexapart">
                            <div class="t-xsmall t-bold t-light">Abonnement</div>
                            <div class="availability">{{ svg src='availability' }}
                                <div>{{ slots_available }} places disponible</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="inlinepricelabelwrap">
                            <div class="h2 bigprice price" data-original-price="1640">{{ price }}</div>
                            <div class="priceperiod">
                                <div class="t-xsmall t-bold">par mois<br>facturé mensuellement</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="nav headerrightnav"><a href="/contact" class="btn dark magnetic">Commençons!</a>
                        </div>
                        <div class="gapm"></div>
                        <div><span class="t-bold">{{ description }}</div>
                        <div class="gapm"></div>
                        <div class="pricefeatures smalltext">
                            {{ includes }}
                            <div class="pricefeat">{{ svg src='check'}}
                                <div>{{ title }}</div>
                            </div>
                            {{ /includes }}

                        </div>
                    </div>
                </div>
            </div>
            {{ /pricing }}
            {{ pricing }}
            <div class="mobilepricing">
                <div id="w-node-_3a3337f5-7c2f-108b-f277-49dbd4df52f2-d4df52f2"
                    class="card jumboshadow jumboshadowwithborder">
                    <div class="paddm">
                        <div class="flexapart">
                            <div class="t-xsmall t-bold t-light">{{ title }}</div>
                            <div class="availability">{{ svg src='availability' }}
                                <div>{{ slots_available }} places disponibles</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="inlinepricelabelwrap">
                            <div class="h2 bigprice price" data-original-price="1640">{{ price }}</div>
                            <div class="priceperiod">
                                <div class="t-xsmall t-bold">par mois<br>facturé bi-mensuellement</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="nav headerrightnav"><a href="/contact" class="btn dark w-button">Commençons</a>
                        </div>
                        <div class="gapm"></div>
                        <div><span class="t-bold">{{ description }}</div>
                        <div class="gapm"></div>
                        <div class="pricefeatures smalltext">
                            {{ includes }}
                            <div class="pricefeat">{{ svg src='check'}}
                                <div>{{ title }}</div>
                            </div>
                            {{ unless last }}
                            <div class="divider"></div>
                            {{ /unless }}
                            {{ /includes}}
                        </div>

                    </div>
                </div>
                <div class="gapm"></div>
            </div>
            {{ /pricing }}
            {{ /get_content }}
        </div>
    </div>
    <div class="content medium">
        <div class="gapm"></div>
        <div class="outlinecard">
            {{ collection:staff limit="1" sort="random" }}
            <img src="{{ glide:avatar_picture }}" loading="lazy" sizes="64px" srcset="{{ glide:avatar_picture }}" alt=""
                class="avatar sm" />
            {{ /collection:staff }}
            <div>
                <div class="t-small t-bold">Questions?</div>
                <div class="t-light t-xsmall">Organisons un appel découverte pour discuter de vos besoins
                    et de nos offres de service.</div>
                <div class="gapxs"></div>
                <div class="w-layout-vflex btngrp">
                    <a href="/contact" target="_blank" class="bluelink t-xsmall ">
                        <div>Réservez un appel explicatif.
                        </div> {{ svg src="external_link" }}
                    </a>
                </div>
            </div>
        </div>
        <div class="gapm"></div>
        <div class="outlinecard">
            <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M27.7898 9.29323C27.0964 6.74598 24.7669 4.87305 22 4.87305C18.6863 4.87305 16 7.55934 16 10.873C16 14.1868 18.6863 16.873 22 16.873C22.7805 16.873 23.5262 16.724 24.2102 16.4529M27.7898 9.29323C28.4738 9.02207 29.2195 8.87305 30 8.87305C33.3137 8.87305 36 11.5593 36 14.873C36 18.1868 33.3137 20.873 30 20.873C27.2331 20.873 24.9036 19.0001 24.2102 16.4529M27.7898 9.29323C24.9834 10.4058 23.423 13.5611 24.2102 16.4529M14 40.8731H18C18 40.8731 22.7833 42.7199 26 42.8731C33.0926 43.2108 38.7267 39.9112 43.2901 34.8926C44.3322 33.7465 44.3146 32.0163 43.3469 30.8067C42.0994 29.2473 39.7547 29.1211 38.1905 30.3625C36.4671 31.7303 34.1796 33.2688 32 33.8731C28.9894 34.7077 26 34.8731 26 34.8731C42 33.873 36 20.8728 14 29.8732M6 26.873H14V42.8731H6V26.873Z"
                    stroke="#03030D" stroke-width="4"></path>
            </svg>
            <div>
                <div class="t-small t-bold">Référer un ami et faite vous payer</div>
                <div class="t-light t-xsmall">Recevez 200$ à la signature et 8% des commissions récurrentes.<sup>*</sup>




                </div>
                <div class="gapxs"></div>
                <div class="w-layout-vflex btngrp">
                    <a href="#" @click="modalRefer = true" class="bluelink t-xsmall ">
                        <div>Référez un client
                        </div>
                        {{ svg src="external_link" }}

                    </a>
                </div>
            </div>
        </div>

        <div class="gapl"></div>
        <div class="linethroughtitle">
            <div class="t-bold t-small">Nos services connexes</div>
            <div class="linethroughtitleline"></div>
        </div>
        <div class="gapm"></div>
        <div class="w-layout-grid grid expertise-grid">
            {{ collection:services }}
            <a href="{{ url }}" class="magnetic">
                <div class="card jumboshadow jumboshadowwithborder">
                    <div class="padds">
                        <div class="t-small t-bold">{{ title }}</div>
                        <div class="gapxs"></div>
                        <div class="t-light t-xsmall">{{ menu_description }}
                        </div>
                    </div>
                </div>
            </a>
            {{ /collection:services }}

        </div>
        <div class="gapxl"></div>
    </div>



</div>