<div id="pricing" class="pricingsection" x-in-viewport="popupVisible = true">

    <div class="content medium">
        <div class="gapxl"></div>
        <div class="ctawrap">
            <div class="availability">
                <div>{{ subheading }}</div>
            </div>
            <div class="gaps"></div>

            <h2 class="h2">{{ support_heading }}</h2>
            <div class="gapxs"></div>
            <div class="t-light">{{ support_pragraph }}</div>
            <div class="gapl"></div>
        </div>

    </div>
    <div class="content large">
        <div class="pricing-grid">
           {{ support_pricing }}
            {{ pricing }}
            <div class="desktoppricing">
                <div class="card jumboshadow jumboshadowwithborder" style="height:100%">
                    <div class="paddm">
                        <div class="flexapart">
                            <div class="t-xsmall t-bold t-light">{{ title }}</div>
                            <div class="availability">{{ svg src='availability' }}
                                <div>{{ availability }}</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="inlinepricelabelwrap">
                            <div class="h2 bigprice price" data-original-price="1640">{{ price }}</div>
                            <div class="priceperiod">
                                <div class="t-xsmall t-bold">{{ description_paiement }}</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="nav headerrightnav">
                            <a href="{{ current_url }}/?services=Banque d'heures {{title }}" class="btn dark magnetic">{{ configuration:commencons }}</a>
                        </div>
                        <div class="gapm"></div>
                        <div><span class="t-bold">{{ description }}</div>
                        <div class="gapm"></div>
                        <div class="pricefeatures smalltext">
                            {{ includes }}
                            <div class="pricefeat">{{ svg src='check'}}
                                <div>{{ title }}</div>
                            </div>
                            {{ /includes }}

                        </div>
                    </div>
                </div>
            </div>
            {{ /pricing }}
            {{ pricing }}
            <div class="mobilepricing">
                <div
                    class="card jumboshadow jumboshadowwithborder">
                    <div class="paddm">
                        <div class="flexapart">
                            <div class="t-xsmall t-bold t-light">{{ title }}</div>
                            <div class="availability">{{ svg src='availability' }}
                                <div>{{ availability }}</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="inlinepricelabelwrap">
                            <div class="h2 bigprice price" data-original-price="1640">{{ price }}</div>
                            <div class="priceperiod">
                                <div class="t-xsmall t-bold">{{ description_paiement }}</div>
                            </div>
                        </div>
                        <div class="gaps"></div>
                        <div class="nav headerrightnav"><a href="{{ current_url }}/?services=Banque d'heures {{title }}&language={{site:locale}}" class="btn dark magnetic">{{ configuration:commencons }}</a>
                        </div>
                        <div class="gapm"></div>
                        <div><span class="t-bold">{{ description }}</div>
                        <div class="gapm"></div>
                        <div class="pricefeatures smalltext">
                            {{ includes }}
                            <div class="pricefeat">{{ svg src='check'}}
                                <div>{{ title }}</div>
                            </div>
                            {{ unless last }}
                            <div class="divider"></div>
                            {{ /unless }}
                            {{ /includes}}
                        </div>

                    </div>
                </div>
                <div class="gapm"></div>
            </div>
            {{ /pricing }}
            {{ /support_pricing }}
        </div>
    </div>
    <div class="content medium">
        {{ ctas }}
       {{ partial:layout/cta_cards }}
        {{ /ctas }}
        

        <div class="gapl"></div>
        <div class="linethroughtitle">
            <div class="t-bold t-small">{{ services_heading }}</div>
            <div class="linethroughtitleline"></div>
        </div>
       {{ partial:layout/other_services }}
    </div>



</div>