<div class="testimonials" x-data="marquee()" x-init="init()">
    <section data-w-id="6ceeaa2a-520f-07c2-28bb-bce39c6b4247" class="section_testimonial21">
        <div class="testimonial21_component" >
            <div>
                <div class="w-dyn-list" >
                    <div role="list" class="testimonial21_loop-trigger" x-ref="marquee">
                        <div role="listitem" class="testimonial21_content" >
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb9ce53900dd6c2a21e_64d549676e40e606fdef6aa9_T05JEP5CK63-U05JV9NP2QJ-679ba74dd0cc-512.png"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;NBS has been an invaluable team to help bring our
                                technology to
                                life. They produced exemplary designs and have been critical in not just the UI
                                but also thinking
                                through the product experience from first principles.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Thomas Cecil</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Trustee of Faithbase</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb928e50bfd73b912d8_632c07528ff7cc8a8f0c8689_613bed8cd25b703d33a7a3b1_traviss.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;We searched long and hard for a UI/UX designer and
                                we&#x27;re
                                extremely thankful to have found Never Before Seen. Highly skilled, reliable and
                                combines
                                strategic insights with great design. They’ve been fundamental to our
                                success.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Traviss Orr</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Co-Founder &amp; CEO</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb943f5b961704ecca2_649360bd3044e53bf191f88d_T03T1CD3DEW-U03T19LK9A7-db994947360b-512.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;NBS has been a a critical partner during our 0 to
                                1 journey. While
                                they’ve certainly got the UI chops for modern SaaS work, we’ve been most
                                impressed by their
                                ability to collaborate on complicated UX decisions and deeply understand our
                                customer needs.
                                They’re efficient, conscious of engineering effort required in implementation,
                                and helpful in
                                avoiding traps.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Monik Sheth</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO at Ultralight</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb8a8681bc9f5069f9f_632c07d9c6c605c98bd5ea58_613bed5ef8a249627e277cb6_bill.png"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">“We originally came to NBS for our marketing site but
                                ended up being so
                                impressed that we handed over a large part of the build of our platform to the
                                them. I
                                couldn&#x27;t recommend the Never Before Seen team highly enough.”</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Bill Kerr</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">CEO at Athyna</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb897d1721b2bc24d68_632bb9d6076b9aa2f35718e3_1635946421853.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;We work really closely with NBS - so much so that
                                it doesn&#x27;t
                                feel like an agency but more like a product team. They have exceeded our
                                expectations and have
                                been really easy to work with - couldn&#x27;t image a better agency to work
                                with.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Andrew Montague</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO, LaunchPad</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb897e4d0dc05a95bca_6493604872981e71e6d139ce_T025ME63WKF-U0259P2CQVD-94c2da1847c3-512.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;Working with NBS has been a remarkably smooth and
                                rewarding
                                experience. Their ease of communication and adaptability stand out, making any
                                design
                                collaboration effortless. With an impressive portfolio, they bring a wealth of
                                knowledge to the
                                table, offering insights from past projects that enhance the present one.&quot;
                            </div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">David Brett</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO at Wayland</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb81a6953d320e66e0c_64945f78f08e5fef2362af4e_T02UYAWA7HP-U02UKMPAPD0-00736f38a954-512.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;Working with NBS has been great. The team is fast,
                                responsive and
                                first-and-foremost they produce extremely high quality design work. We have a
                                complicated product
                                and we were impressed with their ability to create an intuitive UX out of
                                complex workflows.&quot;
                            </div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Ethan Kalm</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO at BluejayHOA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="w-dyn-list">
                    <div role="list" class="testimonial21_loop-trigger">
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb9ce53900dd6c2a21e_64d549676e40e606fdef6aa9_T05JEP5CK63-U05JV9NP2QJ-679ba74dd0cc-512.png"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;NBS has been an invaluable team to help bring our
                                technology to
                                life. They produced exemplary designs and have been critical in not just the UI
                                but also thinking
                                through the product experience from first principles.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Thomas Cecil</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Trustee of Faithbase</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb928e50bfd73b912d8_632c07528ff7cc8a8f0c8689_613bed8cd25b703d33a7a3b1_traviss.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;We searched long and hard for a UI/UX designer and
                                we&#x27;re
                                extremely thankful to have found Never Before Seen. Highly skilled, reliable and
                                combines
                                strategic insights with great design. They’ve been fundamental to our
                                success.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Traviss Orr</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Co-Founder &amp; CEO</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb943f5b961704ecca2_649360bd3044e53bf191f88d_T03T1CD3DEW-U03T19LK9A7-db994947360b-512.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;NBS has been a a critical partner during our 0 to
                                1 journey. While
                                they’ve certainly got the UI chops for modern SaaS work, we’ve been most
                                impressed by their
                                ability to collaborate on complicated UX decisions and deeply understand our
                                customer needs.
                                They’re efficient, conscious of engineering effort required in implementation,
                                and helpful in
                                avoiding traps.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Monik Sheth</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO at Ultralight</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb8a8681bc9f5069f9f_632c07d9c6c605c98bd5ea58_613bed5ef8a249627e277cb6_bill.png"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">“We originally came to NBS for our marketing site but
                                ended up being so
                                impressed that we handed over a large part of the build of our platform to the
                                them. I
                                couldn&#x27;t recommend the Never Before Seen team highly enough.”</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Bill Kerr</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">CEO at Athyna</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb897d1721b2bc24d68_632bb9d6076b9aa2f35718e3_1635946421853.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;We work really closely with NBS - so much so that
                                it doesn&#x27;t
                                feel like an agency but more like a product team. They have exceeded our
                                expectations and have
                                been really easy to work with - couldn&#x27;t image a better agency to work
                                with.&quot;</div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Andrew Montague</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO, LaunchPad</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb897e4d0dc05a95bca_6493604872981e71e6d139ce_T025ME63WKF-U0259P2CQVD-94c2da1847c3-512.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;Working with NBS has been a remarkably smooth and
                                rewarding
                                experience. Their ease of communication and adaptability stand out, making any
                                design
                                collaboration effortless. With an impressive portfolio, they bring a wealth of
                                knowledge to the
                                table, offering insights from past projects that enhance the present one.&quot;
                            </div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">David Brett</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO at Wayland</div>
                            </div>
                        </div>
                        <div role="listitem" class="testimonial21_content">
                            <div class="avatar"><img
                                    src="https://assets-global.website-files.com/65248f8a6b6d9e1cca514f62/6525ceb81a6953d320e66e0c_64945f78f08e5fef2362af4e_T02UYAWA7HP-U02UKMPAPD0-00736f38a954-512.jpeg"
                                    loading="lazy" alt="" class="avatarimg" /></div>
                            <div class="gaps"></div>
                            <div class="t-small t-bold">&quot;Working with NBS has been great. The team is fast,
                                responsive and
                                first-and-foremost they produce extremely high quality design work. We have a
                                complicated product
                                and we were impressed with their ability to create an intuitive UX out of
                                complex workflows.&quot;
                            </div>
                            <div class="gaps"></div>
                            <div class="testimauthor">
                                <div class="t-xsmall t-bold">Ethan Kalm</div>
                                <div class="gapxxs"></div>
                                <div class="t-xsmall t-light">Founder &amp; CEO at BluejayHOA</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>