<div class="content howitworkscontent"  x-data="imageOpacityController()">
    <div id="method" class="card ovv jumboshadow jumboshadowwithborder howitworkscard">
        <div class="methodcontainer">
            <div class="methodimage">
                <div class="method_image_1" x-ref="image1" :style="image1Style">
                    <div class="methodimagewrap"><img
                            src="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5889f9e668d86f713cf_method1.png"
                            loading="lazy"
                            sizes="(max-width: 767px) 95vw, (max-width: 991px) 90vw, (max-width: 2416px) 100vw, 2416px"
                            srcset="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5889f9e668d86f713cf_method1-p-500.png 500w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5889f9e668d86f713cf_method1-p-800.png 800w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5889f9e668d86f713cf_method1-p-1080.png 1080w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5889f9e668d86f713cf_method1.png 2416w"
                            alt="" class="methodimg" /></div>
                </div>
                <div class="method_image_2" x-ref="image2" :style="image2Style">
                    <div class="methodimagewrap"><img
                            src="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c588c8ae9155077d8c11_method2.png"
                            loading="lazy"
                            sizes="(max-width: 767px) 95vw, (max-width: 991px) 90vw, (max-width: 2416px) 100vw, 2416px"
                            srcset="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c588c8ae9155077d8c11_method2-p-500.png 500w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c588c8ae9155077d8c11_method2-p-800.png 800w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c588c8ae9155077d8c11_method2-p-1080.png 1080w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c588c8ae9155077d8c11_method2-p-1600.png 1600w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c588c8ae9155077d8c11_method2.png 2416w"
                            alt="" class="methodimg" /></div>
                </div>
                <div class="method_image_3" x-ref="image3" :style="image3Style">
                    <div class="methodimagewrap"><img
                            src="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c58843b13d94724de01e_method3.png"
                            loading="lazy"
                            sizes="(max-width: 767px) 95vw, (max-width: 991px) 90vw, (max-width: 2416px) 100vw, 2416px"
                            srcset="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c58843b13d94724de01e_method3-p-500.png 500w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c58843b13d94724de01e_method3-p-800.png 800w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c58843b13d94724de01e_method3-p-1080.png 1080w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c58843b13d94724de01e_method3-p-1600.png 1600w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c58843b13d94724de01e_method3.png 2416w"
                            alt="" class="methodimg" /></div>
                </div>
                <div class="method_image_4"  x-ref="image4" :style="image4Style">
                    <div class="methodimagewrap last"><img
                            src="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5887a8eb1c405756047_method4.png"
                            loading="lazy"
                            sizes="(max-width: 767px) 95vw, (max-width: 991px) 90vw, (max-width: 2416px) 100vw, 2416px"
                            srcset="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5887a8eb1c405756047_method4-p-500.png 500w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5887a8eb1c405756047_method4-p-800.png 800w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5887a8eb1c405756047_method4-p-1080.png 1080w, https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6527c5887a8eb1c405756047_method4.png 2416w"
                            alt="" class="methodimg" /></div>
                </div>
            </div>
            <div class="methodsections">
                <div data-w-id="9e699e30-165b-0a5d-0b8b-880b4e59cd7f" class="method_section_1"  x-ref="text1">
                    <div class="methodsection">
                        <div class="methodsectiontitle">
                            <div class="paddm">
                                <div class="methodtitlewrap">
                                    <div class="t-light">How we work</div>
                                    <h2 class="h2">A process designed for speed+quality.</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="0e7288fe-16b7-8b53-94dd-a8aad58b4b03" class="method_section_2"  x-ref="text2">
                    <div class="methodsection">
                        <div class="methodsectiontitle">
                            <div class="paddm">
                                <div class="methodtitlewrap alt">
                                    <h2 class="h2 methodsectionheading small">First of all, we love workshops.</h2>
                                    <div class="methodsectiondesc">
                                        <div class="t-light">We run <em>rapid</em> workshops to brainstorm and problem
                                            solve together, in
                                            real time.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="4e37ecd9-d340-abc5-eb85-a534dbaa132f" class="method_section_3"  x-ref="text3">
                    <div class="methodsection">
                        <div class="methodsectiontitle">
                            <div class="paddm">
                                <div class="methodtitlewrap alt">
                                    <div>
                                        <h2 class="h2 methodsectionheading small">Next we jump into hi-fi design.</h2>
                                        <div class="gapxs"></div>
                                        <div class="w-layout-vflex btngrp centeronmob"><a
                                                href="https://www.figma.com/file/JEX7JyQKU7zUHfY5Lowtdm/NBS-Demo-File?type=design&amp;node-id=2510-4698&amp;mode=design&amp;t=YFFCXmjLDFA3NYAN-4"
                                                target="_blank" class="bluelink t-small ">
                                                <div>Open example Figma file</div><img
                                                    src="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6526b0cb9b5990da12921d1b_externalLink.svg"
                                                    loading="lazy" alt="" />
                                            </a></div>
                                    </div>
                                    <div class="methodsectiondesc">
                                        <div class="t-light">A <span class="t-strike">picture</span> *mockup is worth a
                                            thousand words.
                                            We’re Figma pros and crank out hi-fi mocks in rapid time.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="81ac55ac-332e-7459-1b1c-baeaec55bd79" class="method_section_4"  x-ref="text4">
                    <div class="methodsection">
                        <div class="methodsectiontitle">
                            <div class="paddm">
                                <div class="methodtitlewrap alt">
                                    <div>
                                        <h2 class="h2 methodsectionheading small">Then we handle the details async.</h2>
                                        <div class="gapxs"></div>
                                        <div class="w-layout-vflex btngrp"><a href="https://onmarathon.com/?ref=nbs"
                                                target="_blank" class="bluelink t-small ">
                                                <div>Check out our custom-built project tool, Marathon</div><img
                                                    src="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/6526b0cb9b5990da12921d1b_externalLink.svg"
                                                    loading="lazy" alt="" />
                                            </a></div>
                                    </div>
                                    <div class="methodsectiondesc">
                                        <div class="t-light">Just drop a comment and we’ll get straight on it. No
                                            standups, no ‘reviews’.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function imageOpacityController() {
      return {
        image1Style: 'opacity: 1;',
        image2Style: 'opacity: 0;',
        image3Style: 'opacity: 0;',
        image4Style: 'opacity: 0;',
    
        init() {
          this.createObserver(this.$refs.text1, (isVisible) => {
            this.image1Style = isVisible ? 'opacity: 1;' : 'opacity: 0;';
          });
    
          this.createObserver(this.$refs.text2, (isVisible) => {
            this.image2Style = isVisible ? 'opacity: 1;' : 'opacity: 0;';
          });
    
          this.createObserver(this.$refs.text3, (isVisible) => {
            this.image3Style = isVisible ? 'opacity: 1;' : 'opacity: 0;';
          });
    
          this.createObserver(this.$refs.text4, (isVisible) => {
            this.image4Style = isVisible ? 'opacity: 1;' : 'opacity: 0;';
          });
        },
    
        createObserver(textElement, callback) {
            const observer = new IntersectionObserver((entries) => {
              entries.forEach((entry) => {
                callback(entry.isIntersecting);
              });
            }, { threshold: [0.2] }); // Increase the threshold for more delay
      
            observer.observe(textElement);
        },
      };
    }
    </script>