<div id="work" class="content margin-top">
    <div id="heroprojects" class="heroprojects">
        <div class="heroprojectwrapper w-dyn-list">
            <div role="list" class="heroprojectwrapper ">
                {{ collection:projects limit='1' }}
                <div role="listitem" class="heroprojectwrapper ">
                    <div class="card dark jumboshadow jumboshadowwithborder"
                        style="background-image: linear-gradient({{color1}} 0%, {{color2}} 51.77%, {{color3}} 100%); background-size: 100% 100%;">
                        <div class="heroprojectinner">
                            <div class="padds">
                                <div class="t-large t-bold">{{ title }}</div>
                                <div class="gapxxs"></div>
                                <div class="t-lightwhite t-xsmall">{{ small_description }}</div>
                                <div class="gaps"></div>
                                <div class="projectattributes">
                                    <a href="{{ website }}" target="_blank" class="btn announcementbtn magnetic ">{{
                                        website | replace('https://', '') }}</a>
                                    {{ if location }}
                                    <div class="tag white ">{{ svg src='location' }}
                                        <div>{{ location }}</div>
                                    </div>
                                    {{ /endif }}
                                    {{ tags limit='3' sort='random' }}
                                    <div class="tag white">
                                        <div>{{ title }}</div>
                                    </div>
                                    {{ /tags }}
                                </div>
                            </div>
                            <div class="projectscroll">

                                <div role="list" class="projectscrollcontent ">
                                    {{ mockups }}
                                    <div role="listitem" class="collection-item  w-dyn-repeater-item">
                                       
                                            <img class="projectscrollimg" src="{{glide:url }}" srcset="{{glide:url width='80' }} 80w,
                                            {{glide:url width='500' }} 500w,
                                            {{glide:url width='800' }} 800w,
                                            {{glide:url width='1080' }} 1080w,
                                            {{glide:url width='1600' }} 1600w"
                                                    sizes="100vw"
                                                    alt="{{ alt }}" style="height: 561.117px;"/>
                                        </div>
                                    {{ /mockups }}
                                   
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                {{ /collection:projects }}
            </div>
        </div>

        <div role="list" class="projectgridc ">
            {{ collection:projects limit='2' offset='1' }}
            <div class="card dark jumboshadow jumboshadowwithborder"
                style="background-image: linear-gradient({{color1}} 0%, {{color2}} 51.77%, {{color3}} 100%); background-size: 100% 100%;">
                <div class="padds nobottompadding">
                    <div class="t-large t-bold">{{ title }}</div>
                    <div class="gapxxs"></div>
                    <div class="t-lightwhite t-xsmall">{{ short_description }}</div>
                    <div class="gaps"></div>
                    <div class="projectattributes">
                        <a href="{{ website }}" target="_blank" class="btn announcementbtn ">{{ website |
                            replace('https://', '') }}</a>
                        {{ if location }}
                        <div class="tag white">{{ svg src='location' }}
                            <div>{{ location }}</div>
                        </div>
                        {{ /endif }}
                        {{ tags limit='3' sort='random' }}
                        <div class="tag white">
                            <div>{{ title }}</div>
                        </div>
                        {{ /tags }}
                    </div>
                </div>
                <div class="projectgridimgconstrain">
                    <div class="padds">
                        {{ mockups limit='1' sort='random' }}
                        <div role="listitem" class="collection-item  w-dyn-repeater-item">
                           
                                <img class="projectgridimg featured"  src="{{glide:url }}" srcset="{{glide:url width='80' }} 80w,
                                {{glide:url width='500' }} 500w,
                                {{glide:url width='800' }} 800w,
                                {{glide:url width='1080' }} 1080w,
                                {{glide:url width='1600' }} 1600w"
                                sizes="(max-width: 479px) 92vw, (max-width: 991px) 95vw, 33vw"
                                        alt="{{ alt }}" />
                            </div>
                        {{ /mockups }}
                        
                        </div>
                </div>
            </div>



            {{ /collection:projects }}
        </div>

    </div>
</div>