<div id="intro" class="content">
    <div class="gapl"></div>
    {{ if announcement }}
    <div class="announcement">
        <a href="{{ announcement_link }}" class="btn announcementbtn magnetic ">
            <div class="t-light">
                <div class="daysago">
                    {{ related_date format="d F Y"}}
                </div>
            </div>
            <div>{{ announcement_text }}</div>{{ svg src='arrow-right' }}
        </a>
    </div>
    {{ endif }}
    <div class="gapm"></div>
    <div class="hero">
        <h1 class="h1 herotitle">{{ heading }}. </h1>
        <div class="herodesc">
            <div class="t-light">
                {{ paragraph }}
            </div>
            <div class="gaps"></div>
            {{ if button_link }}
            <a href="{{ button_link }}" class="btn magnetic dark margin-top">{{ if button_text }}{{ configuration:commencons }}{{
                else }}{{ button_link:title }}{{ endif }}</a>
            {{ endif }}


        </div>
    </div>
    <div class="gapxl"></div>
</div>