<div id="intro" class="content">
    <div class="gapl"></div>
    <div class="announcement">
        <a href="https://onmarathon.com/?ref=nbs_announcement_bar" target="_blank" class="btn announcementbtn ">
            <div class="t-light">
                <div class="daysago">
                    Décembre 2023
                </div>
            </div>
            <div>Il ne nous reste que 3 forfaits de supports</div><img
                src="https://assets-global.website-files.com/652484f7d01cda72fe7be6e0/652485fa6528a9a62375a7c4_miniNext.svg"
                loading="lazy" alt="" />
        </a>
    </div>
    <div class="gapm"></div>
    <div class="hero">
        <h1 class="h1 herotitle">Construisez, évoluez, excellez avec notre support Shopify
        </h1>
        <div class="herodesc">
            <div class="t-light">
                En tant que partenaire Shopify et Shopify Plus, nous développons, optimisons et assurons la maintenance
                de solutions eCommerce sur Shopify. 
            </div>
            <div class="gaps"></div>
            <a href="#method" class="btn dark margin-top">Découvrer nos services</a>


        </div>
    </div>
    <div class="gapxl"></div>
</div>