<div id="intro" class="content">
    <div class="gapl"></div>
    <div class="announcement">
        <a href="#" target="_blank" class="btn announcementbtn magnetic ">
            <div class="t-light">
                <div class="daysago">
                    Décembre 2023
                </div>
            </div>
            <div>Il ne nous reste que 3 forfaits de supports</div>{{ svg src='arrow-right' }}
        </a>
    </div>
    <div class="gapm"></div>
    <div class="hero">
        <h1 class="h1 herotitle">Construisez, évoluez, excellez avec notre expertise Shopify
        </h1>
        <div class="herodesc">
            <div class="t-light">
                En tant que partenaire Shopify et Shopify Plus, nous développons, optimisons et assurons la maintenance
                de solutions eCommerce sur Shopify. 
            </div>
            <div class="gaps"></div>
            <a href="#method" class="btn magnetic dark margin-top">Découvrer nos services</a>


        </div>
    </div>
    <div class="gapxl"></div>
</div>