<div class="projectgridouter" x-data="{ isExpanded: false }">
    <div class="projectgridexpand" @click="isExpanded = !isExpanded" :class="{ 'hidden': isExpanded }">
        <button class="btn dark">
            {{ svg src='expand' class='workexpandicon'}}
            <div x-text="isExpanded ? 'Cacher les projets' : 'Voir plus de projets'"></div>
        </button>
    </div>
    <div class="projectgridconstrain" :style="isExpanded ? 'height: auto;' : 'height: 980px'">
        <div class="projectgridcontentheight">
            <div class="gaps"></div>
            <div class="gapm"></div>
            <div class="content">
                <div class="projectnavwrap">
                    <div class="t-bold t-small headerhideonmob">Quelques un de nos projets</div>

                </div>
            </div>
            <div class="gapm"></div>
            <div class="content">

                <div role="list" class="projectgridb ">
                    {{ collection:projects offset="3" }}
                    <div class="filterableproject ">
                        <div class="card projectgridcard dark jumboshadow jumboshadowwithborder"
                            style="background-image: linear-gradient({{color1}} 0%, {{color2}} 51.77%, {{color3}} 100%); background-size: 100% 100%;">
                            <div class="padds nobottompadding">
                                <div class="t-large t-bold">{{ title }}</div>
                                <div class="gapxxs"></div>
                                <div class="t-lightwhite t-xsmall">{{ short_description }}</div>
                                <div class="gaps"></div>
                                <div class="projectattributes">
                                    <a href="{{ website }}" target="_blank" class="btn announcementbtn ">{{ website |
                                        replace('https://', '') }}</a>
                                    {{ if location }}
                                    <div class="tag white">{{ svg src='location' }}
                                        <div>{{ location }}</div>
                                    </div>
                                    {{ /endif }}
                                    {{ tags limit='3' sort='random' }}
                                    <div class="tag white">
                                        <div>{{ title }}</div>
                                    </div>
                                    {{ /tags }}
                                </div>
                            </div>
                            <div class="padds">
                                <div class="hovergallery" style="position: relative;">
                                    {{ mockups limit="1" }}
                                    <img class="projectgridimg" src="{{glide:url }}" srcset="{{glide:url width='82' }} 82w,
                                        {{glide:url width='500' }} 500w,
                                        {{glide:url width='800' }} 800w,
                                        {{glide:url width='1080' }} 1080w,
                                        {{glide:url width='1600' }} 1600w"
                                        sizes="(max-width: 479px) 82vw, (max-width: 767px) 89vw, (max-width: 991px) 42vw, 40vw"
                                        alt="{{ alt }}" />
                                    {{ /mockups }}
                                    <div class="hovergalleryimages">
                                        <div class="w-dyn-list">
                                            <div role="list" class="">
                                                {{ mockups offset='1' }}
                                                <img class="projectgridimg"
                                                    style="position: absolute; inset: 0px; display: none;"
                                                    src="{{glide:url }}" srcset="{{glide:url width='82' }} 82w,
                                        {{glide:url width='500' }} 500w,
                                        {{glide:url width='800' }} 800w,
                                        {{glide:url width='1080' }} 1080w,
                                        {{glide:url width='1600' }} 1600w" sizes="100vw" alt="{{ alt }}" />

                                                {{ /mockups }}

                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ /collection:projects }}
                </div>

            </div>

            <div class="gapxl"></div>
        </div>
    </div>
</div>